@import "tailwindcss";

@theme {
    --color-primary: #442915;
    --color-secondary: #FFE936;
    --color-tertiary: #EA951B;
  }
html{
  scroll-behavior: smooth;
}

.cart{
  background-image: url("/bg-cart.png");
  background-size: contain;
  background-repeat: no-repeat;
}
  
.footer{
  background-image: url("/bg-footer.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes pulseScale {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.current-step {
  animation: pulseScale 1.5s infinite;
  box-shadow: 0 0 0 3px yellow;
}